.frontpage-split {
    margin-top: .6rem;
    display: flex;
    gap: 2em;
}

.basic-info {
    margin-bottom: 0.3rem;
    display: flex;
    gap: 1rem;

        font-size: 1.4em;

       tr:first-of-type td {
            padding-bottom: .4rem;
        }

}

.intro {
    margin: 1.4rem 0;
}

h1.frontpage-section-header {
    color: var(--text-grey);
    border-bottom-width: 0;
    font-size: 1.4rem;

    a:hover {
        text-decoration: underline;
        text-decoration-color: var(--text-grey);
    }
}

.blog {
    article:first-of-type .post-header h1 {
        margin-top: 0;
    }

    .more {
        display: inline-block;
        margin-top: 1.5em;
        padding: .4em .7em;
        text-decoration: none;
        background-color: var(--lighter-yellow);

        &:hover {
            color: inherit;
            background-color: var(--light-yellow);
        }
    }
}

.right a:not(:last-child) img {
    margin-bottom: 1em;
}

@media screen and (min-width: 768px) {
    .left h1.frontpage-section-header {
        margin-bottom: -1rem;
    }

    .basic-info {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 1023px) {
    .frontpage-split {
        flex-direction: column;
    }
}

@media screen and (min-width: 1024px) {
    .left {
        flex: 3;
    }

    .right {
        flex: 2;
    }
}
