<ul class="site-nav" role="menu">
    {% for link in navigation.header_left %}
    <li role="menuitem">
        <a href="{{ link.href | safe }}"
            {% if current_path %}
                {%- if link.href == current_path %}class="active"{% endif -%}
            {% endif -%}
        >
            <i class="fas fa-fw fa-angle-double-right" aria-hidden="true"></i>
            {{ link.title }}
        </a>
    </li>
    {% endfor %}
</ul>
