<footer>
    <ul class="footer-nav" role="menu">
        {% for link in navigation.footer %}
        <li role="menuitem">
            <a href="{{ link.href | safe }}">{{ link.title }}</a>
        </li>
        {% endfor %}
    </ul>
</footer>
