main {
    display: flex;
    flex-direction: column;
}

.site-content {
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
    max-width: var(--max-content-width);

    h1 {
        width: 100%;
        border-bottom: 2px solid var(--flipdot-yellow);
    }

    img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }

    pre {
        padding: .4em .6em;
        overflow-x: auto;
    }

    :not(pre) > code {
        display: inline-block;
        margin: .2em 0;
        padding: .1em .3em;
    }

    pre, :not(pre) > code {
        background-color: var(--bg-grey);
        border-radius: .3em;
        // TODO: keep this?
        border-bottom: 1px solid #aaa;
    }

    iframe {
        border: 0;
        width: 100%;
        height: 420px; // ~ 0.55 * max-content-width
        max-height: 55vw;
    }

    .hidden {
        display: none;
    }
}

.post-header {
    display: flex;
}

.post-header time {
    font-family: 'OpenSans';
    font-size: 1rem;
    color: var(--text-grey);

    float: right;
    height: 100%;
    display: flex;
    align-items: flex-end;
    shape-outside: inset(calc(100% - 1rem) 0 0);

    padding-left: .75em;
    padding-bottom: .52rem;
}
