footer {
    margin-top: auto;
}

.footer-nav {
    margin: 0 auto;
    padding: .5rem 1rem 1.5rem;
    max-width: var(--max-content-width);

    body.wide & {
        max-width: var(--max-content-width-wide);
    }

    @supports (grid-template-rows: masonry) {
        body.masonry-wide & {
            max-width: var(--max-content-width-wide);
        }
    }

    display: flex;
    list-style: none;
    font-size: 90%;
    justify-content: center;

    li:not(:first-child) {
        margin-left: .8em;
    }

    li:not(:last-child) {
        margin-right: .8em;
    }

    a {
        color: var(--text-grey);
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}
