{% extends "section.html" %}
{% block head_extra %}
<link rel="stylesheet" href="/css/blog-archive.css">
{% endblock head_extra %}
{% block section_content %}
{% set section = get_section(path="blog/_index.md") %}

{% for year, posts in section.pages | group_by(attribute="year") %}
<h2>{{ year }}</h2>
<ul class="blog-archive">
{% for post in posts %}
    {% set iso_date = post.date | date(format = '%Y-%m-%d') %}
    <li>
        <div>
            <a href="{{ post.permalink | safe }}">{{ post.title }}</a>
            <time datetime="{{ iso_date }}">{{ iso_date }}</time>
        </div>
    </li>
{% endfor %}
</ul>
{% endfor %}
{% endblock section_content %}
