{% extends "skel.html" %}
{% block html_title %}Blog | flipdot.org{% endblock html_title %}
{% block content %}

{% for page in paginator.pages %}
<article>
    {% include "includes/post_header.html" %}
    {{ page.content | safe }}
</article>
{% endfor %}

<nav class="pagination">
    <div class="prev">
        {% if paginator.previous %}
        <a href="{{ paginator.previous }}"><span aria-hidden="true">&larr;</span> Newer Posts</a>
        {% endif %}
    </div>
    <span class="page-number">{{ paginator.current_index }} / {{ paginator.number_pagers }}</span>
    <div class="next">
        {% if paginator.next %}
        <a href="{{ paginator.next }}">Older Posts <span aria-hidden="true">&rarr;</span></a>
        {% endif %}
    </div>
</nav>

{% endblock content %}
